@import "tailwindcss";

html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-outfit);
}

.hero-swiper .swiper-pagination {
  bottom: -25px !important;
  text-align: center;
}

.hero-swiper .swiper-pagination-bullet {
  background: #bdbdbd;
  opacity: 1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #ff532e;
  transform: scale(1.2);
}

